.DS Store
.htaccess
wp-config.php
wp-content/uploads
list.todo
.idea
wp-content/cache
wp-content/advanced-cache.php
wp-content/wpo-cache
wp-content/fonts
wp-content/ languages
wp-content/litespeed
wp-content/plugins/charitable/vendor/
wp-content/plugins/charitable/includes/stripe/libraries/vendor/
local-xdebuginfo. php
seraph-accel-img-compr-redir.conf
uploads.zip
google-credentials.json
**/*google-credentials.json