/* unit css  */
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
	font-size: 14px;
	font-style: italic;
}

.bypostauthor {
	display: block;
}

.gallery-caption {
	display: block;
	margin-top: 10px;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em !important;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em !important;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto !important;
	margin-right: auto !important;
	text-align: center;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
	/* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #eee;
	clip: auto !important;
	clip-path: none;
	color: #444;
	display: block;
	font-size: 1em;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}


/* Page */
.tp-page-post #comments{
	padding-top: 60px;
	clear: both;
}
/* Page post start */
.tp-page-post ol {
	margin-left: 25px;
}

.tp-page-post ol {
	padding-left: 2px;
}

.tp-page-post ul {
	padding-left: 17px;
}

.tp-page-post ul li, .tp-page-post ol li {
	margin-bottom: 10px;
}

.tp-page-post ul li a, .tp-page-post ol li a {
	text-decoration: underline;
}

.tp-page-post ul li ul {
	margin-top: 5px;
}
.tp-page-post ol li ol {
	margin-top: 6px;
}
/* page post end */

.tp-postbox-item.sticky {
	border-color: var(--tp-theme-primary);
}

.tp-postbox-details-wrap ol {
	margin-left: 25px;
}

.tp-postbox-details-wrap ol {
	padding-left: 2px;
}

.tp-postbox-details-wrap ul {
	padding-left: 17px;
}

.tp-postbox-details-wrap ul li, .tp-postbox-details-wrap ol li {
	margin-bottom: 10px;
}

.tp-post-box-details-content ul li a, .tp-post-box-details-contentp ol li a {
	text-decoration: underline;
}

.tp-postbox-details-wrap ul li ul {
	margin-top: 5px;
}
.tp-postbox-details-wrap ol li ol {
	margin-top: 6px;
}

.tp-post-box-details-content a:hover {
	color: var(--tp-theme-primary);
}

.wp-block-group {
	margin-bottom: 20px;
}

.wp-block-group__inner-container p {
	margin-bottom: 0;
}

.wp-block-navigation__container.is-responsive.wp-block-navigation {
	margin-left: 0;
}

.wp-block-navigation__container.is-responsive.wp-block-navigation ul {
	margin-left: 0;
}

.wp-block-post-template.is-layout-flow.wp-block-post-template-is-layout-flow {
	margin-left: 0;
}

.wp-block-post-title {
	font-size: 36px;
}

.wp-block-post-template .wp-block-post {
	margin-bottom: 25px;
}

.wp-block-query-pagination-numbers a, .wp-block-query-pagination-numbers span {
	border: 1px solid #cabc92;
	padding: 4px 8px;
	display: inline-block;
	min-width: 34px;
	text-align: center;
}

.wp-block-query-pagination-numbers span.current, .wp-block-query-pagination-numbers a:hover {
	border-color: var(--tp-theme-primary);
}

.wp-block-query-pagination-previous, .wp-block-query-pagination-next {
	font-weight: 500;
}

.wp-block-query-pagination-previous:hover, .wp-block-query-pagination-next:hover {
	color: var(--tp-theme-primary);
	;
}

.wp-block-query.is-layout-flow.wp-block-query-is-layout-flow {
	margin-bottom: 5px;
}

.wp-block-group.is-layout-flex.wp-block-group-is-layout-flex {
	padding-left: 0;
}

.wp-block-post-comments-form .comment-form-comment textarea {
	height: 150px;
}

.wp-block-post-comments-form .form-submit input#submit {
	font-weight: 600;
	font-size: 15px;
	letter-spacing: -0.01em;
	text-transform: uppercase;
	color: var(--tp-common-white);
	background: var(--tp-theme-primary);
	line-height: 1;
	padding: 20px 28px;
	display: inline-flex;
	align-items: center;
	border: 0;
}

.wp-calendar-table #today {
	color: var(--tp-theme-primary);
}

.has-avatars.has-dates.has-excerpts.wp-block-latest-comments {
	padding-left: 0;
	margin-left: 0;
}

.wp-block-latest-posts__list.wp-block-latest-posts {
	padding-left: 0;
}

.wp-block-page-list li ul {
	margin-top: 4px;
}

.wp-block-page-list li ul li {
	margin-bottom: 6px;
}

ul.wp-block-rss {
	padding-left: 0;
}

.wp-block-search {
	margin-bottom: 25px;
}

.wp-block-search__input {
	padding: 0 15px;
}

.wp-block-social-links.is-layout-flex.wp-block-social-links-is-layout-flex {
	padding-left: 0;
}

.wp-block-social-links.is-layout-flex.wp-block-social-links-is-layout-flex li {
	margin-bottom: 10px;
}

.tp-post-box-details-content .wp-block-columns {
	margin-bottom: 30px;
}

.wp-block-buttons.is-layout-flex.wp-block-buttons-is-layout-flex {
	margin-bottom: 20px;
}

.wp-block-cover {
	margin-bottom: 20px;
}

.wp-block-cover p {
	color: #fff;
}

.wp-block-file *+.wp-block-file__button {
	padding: 4px 20px;
}

.wp-block-file {
	margin-bottom: 20px;
}

.wp-block-media-text {
	margin-bottom: 20px;
}

.wp-block-image figcaption a {
	color: var(--tp-theme-primary);
}

.wp-block-button {
	margin-bottom: 15px;
}

.wp-block-gallery .blocks-gallery-caption {
	margin-bottom: 30px;
	overflow: hidden;
}

.wp-block-list {
	margin-bottom: 20px;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
	padding-right: 5px !important;
}

.wp-block-archives {
	margin-bottom: 20px;
}

.tp-post-box-details-content select {
	height: 45px;
	min-width: 150px;
	padding: 0px 20px;
	background: #fff;
	border: 1px solid #ddd;
}

ol.wp-block-latest-comments {
	margin-left: 0;
}

.wp-block-group__inner-container.is-layout-flow.wp-block-group-is-layout-flow {
	padding: 20px;
}

.has-large-font-size {
	line-height: 1.1;
}

.wp-block-preformatted {
	border: 1px solid #ddd;
	padding: 30px;
}

pre {
	border: 1px solid #ddd;
	padding: 30px;
}

blockquote {
	background: #fff;
	padding: 30px;
	border-left: 3px solid #000;
}

/* Table */
.tp-postbox-details-wrap table {
	margin-bottom: 30px;
	width: 100%;
}

.tp-postbox-details-wrap tbody td {
	text-align: center;
}

.tp-postbox-details-wrap table, .tp-postbox-details-wrap th, .tp-postbox-details-wrap td {
	border: 1px solid #ddd;
}

.tp-postbox-details-wrap th, .tp-postbox-details-wrap td {
	padding: 8px 14px;
}

.tp-page-post table {
	margin-bottom: 30px;
	width: 100%;
}

.tp-page-post tbody td {
	text-align: center;
}

.tp-page-post table, .tp-page-post th, .tp-page-post td {
	border: 1px solid #ddd;
}

.tp-page-post th, .tp-page-post td {
	padding: 8px 14px;
}
/* Table End */

.tp-tag-social {
	clear: both;
	padding-top: 30px;
}

.post-password-form input[type="submit"] {
	font-weight: 600;
	font-size: 15px;
	letter-spacing: -0.01em;
	text-transform: uppercase;
	color: var(--tp-common-white);
	background: var(--tp-theme-primary);
	line-height: 1;
	padding: 20px 28px;
	display: inline-flex;
	align-items: center;
	border: 0;
}

/* Comments */
.postbox__comment {
	list-style: none;
}
.postbox__comment ul.children {
	list-style: none;
}

.page-links{
	clear: both;
	padding-top: 20px;
}

.page-links .post-page-numbers {
	border: 1px solid #cabc92;
	padding: 4px 8px;
	display: inline-block;
	min-width: 34px;
	text-align: center;
	margin-right: 5px;
}


.page-links .post-page-numbers.current {
	border-color: var(--tp-theme-primary);
	color: var(--tp-theme-primary);
}
